<div class="matrix-container">
    <div
      *ngFor="let row of matrix"
      class="matrix-row"
    >
      <div
        *ngFor="let cell of row"
        class="matrix-cell"
        [ngStyle]="{ 
          'width.px': cellSize, 
          'height.px': cellSize, 
          'background-color': cellColor 
        }"
      ></div>
    </div>
  </div>
  
  <div class="controls">
    <button *ngFor="let size of [3, 4, 5, 6]" pButton type="button" label="{{ size }}x{{ size }}" (click)="generateMatrix(size)"></button>
  </div>
  